<div class="container my-5 px-5">
    <div class="d-flex float-end mb-4">
      <button class="btn btn-sm btn-primary"
      routerLink="/add-user" routerLinkActive="activebutton" ariaCurrentWhenActive="page" >Add New User</button>
    </div>
    
    <div class="table-responsive">
      <table class="table table-sm table-striped">
        <thead class="thead-light">
          <tr>
            <th>#</th>
            <th>Name</th>
            <th>Job</th>
            <th>Favorite Color</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>1</td>
            <td>Cy Ganderton</td>
            <td>Quality Control Specialist</td>
            <td>Blue</td>
          </tr>
          <tr>
            <td>2</td>
            <td>Hart Hagerty</td>
            <td>Desktop Support Technician</td>
            <td>Purple</td>
          </tr>
          <tr>
            <td>3</td>
            <td>Brice Swyre</td>
            <td>Tax Accountant</td>
            <td>Red</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  