<div class="container my-5 px-5">
    <div class="d-flex float-end mb-4">
      <button class="btn btn-sm btn-primary"
      routerLink="/add-user" routerLinkActive="activebutton" ariaCurrentWhenActive="page" >Add New User</button>
    </div>
    
    <div class="table-responsive">
      <table class="table table-sm table-striped">
        <thead class="thead-light">
          <tr>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Department</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let user of allUsers" [ngClass]="{'admin': user.isAdmin}">
            <td>
              <a [routerLink]="['/details', user.id]">{{ user.firstName }}</a>
            </td>
            <td>{{user.lastName}}</td>
            <td>{{user.department}}</td>
          </tr>
         
        </tbody>
      </table>
    </div>
  </div>
  